.animation svg {
  animation: arrow 2s infinite;
  transform: translateY(-0px);
}

@keyframes arrow {
  0% {
    transform: translateY(-0px);
  }
  50% {
    transform: translateY(-35px);
  }

  100% {
    transform: translateY(-0px);
  }
}
